@{
    ViewData["Title"] = "Backstage Home Page";
    Layout = "_LayoutBackstage";
}
<body>
    <main id="main" class="main">
        <section class="section">
            <div class="row align-items-top">
                <a class="col-lg-3" href="./ProductList">
                    <!-- 商品列表 -->
                    <div class="card">
                        <img src="https://res.cloudinary.com/foodwebsite/image/upload/v1661532549/all_qnuahr.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">商品列表</h5>
                        </div>
                    </div>
                </a>
                <a class="col-lg-3">
                    <!-- 新增商品 -->
                    <div class="card">
                        <img src="https://res.cloudinary.com/foodwebsite/image/upload/v1661532549/all_qnuahr.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">新增商品</h5>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>